.App {
  background-color: #eee;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 15px;
}

.main {
  display: flex;
  justify-content: center;
}
